@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    :root{
        --color-black: #0f172a;
        --color-black-100: #555C4E;
        --color-orange: #DC1E00;
        --color-orange-100: #DB8863;
    }
body::-webkit-scrollbar { width: 15px; }

body::-webkit-scrollbar-track {
  background: hsl(0, 100%, 100%);
  border-left: 1px solid hsl(0, 0%, 93%);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid hsl(0, 100%, 100%);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}

body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
    .icons .circulo{
        position: relative;
        right: 10px;
        top: -10px;
        background: rgb(241, 72, 72);
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    body{
        background: #fff;
        position: relative;
        height: 1000px;
        min-height: 100vh;
        font-weight: 700;
    }
    html{
        scroll-behavior: smooth;
    }
    section{
        padding: 90px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* ALL BANNER */

    .all-banner{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* BANNER */

    .banner-main {
        background: #C5BA9C;
        width: 794px;
        height: 300px;
        position: relative;
        top: -280px;
        left: -9px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }

    .bn-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bn-img {
        position: relative;
        width: 462px;
        height: 322px;
        left: 17px;
        top: 49px;
    }

    .bn-img img {
        width: 100%;
    }

    .bn-text {
        position: relative;
        width: 350px;
        top: -10px;
        left: -44px;
        color: #0f172a;
    }

    h2#subt-bn {
        font-size: 17px;
        max-width: 313px;
        position: relative;
        top: 2px;
        font-weight: 500;
    }
    
    a.btn-bn {
        width: 100px;
        height: 37px;
        background: #7D715F;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: #fff;
        position: relative;
        top: 26px;
    }
    
    a.btn-bn ion-icon {
        margin-right: 1px;
    }

    a.btn-bn {
        width: 120px;
        height: 37px;
        background: #DC1E00;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        color: #fff;
        box-shadow: 4px 4px 12px rgba(0,0,0, 0.10);
    }
    
    a.btn-bn ion-icon {
        margin-right: 8px;
    }

    h1#titulo-bn {
        position: relative;
        top: 0px;
        font-size: 26px;
    }

    .slider-item.wid{
        min-width: 60%;
    }

    p#p-bn {
        position: relative;
        top: -14px;
        left: 218px;
    }

    /* ANOTHER BANNER */

    .another-banner {
        background: white;
        width: 497px;
        height: 300px;
        position: relative;
        top: -280px;
        left: 11px;
        border-radius: 20px;
        box-shadow: 4px 4px 12px rgba(0,0,0, 0.30);
    }

    .text-ano {
        position: relative;
        width: 438px;
        left: 35px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #0f172a;
        text-align: center;
    }

    .text-ano #playlist{
        color: #DC1E00;
        margin-bottom: 10px;
    }

    .text-ano #p-ano{
        font-weight: 500;
    }

    .ano-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;
    }

    .ano-btns #btn-play-ano{
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-orange-100);
        color: #fff;
        border-radius: 25px;
        padding: 7px 25px;
        margin-right: 20px;
    }

    .ano-btns #btn-play-ano ion-icon{
        margin-right: 10px;
        font-size: 21px;
    }

    .ano-btns #btn-canal-ano{
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-black);
        color: #fff;
        border-radius: 25px;
        padding: 7px 25px;
    }

    .ano-btns #btn-canal-ano ion-icon{
        margin-right: 10px;
        font-size: 21px;
    }

    /* HINOS */

    .section-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hino-cnj{
        position: relative;
        top: 150px;
    }

    .box-cnj {
        width: 578px;
        height: 300px;
        position: relative;
        left: 8px;
        top: -439px;
        margin-top: 40px;
        border-radius: 20px;
    }

    .box-cnj img {
        width: 100%;
        border-radius: 20px;
    }

    .hino-main {
        position: relative;
        display: grid;
        place-content: center;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        top: -288px;
        width: 750px;
        left: 3px;
    }

    .box-hn {
        width: 204px;
        height: 297px;
        cursor: pointer;
        margin-left: 30px;
        margin-top: 30px;
    }

    .box-hn img {
        box-shadow: 4px 4px 12px rgba(0,0,0, 0.350);
        width: 100%;
        border-radius: 15px;
    }

    /* MEDIA HINO */

    @media (max-width: 1023px){
        .hino-main {
            top: -289px;
        }
    }

    @media (max-width: 1332px){
        .hino-main {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 1325px){
        .box-cnj {
            left: 93px;
        }

        .box-cnj {
            left: 8px;
        }

        .hino-main {
            width: 572px;
            left: 16px;
        }
    }

    @media (max-width: 1185px){
        .hino-main {
            width: 272px;
            left: 55px;
        }

        .box-hn {
            width: 185px;
        }

        .box-cnj {
            left: -143px;
        }

        .hino-main {
            width: 272px;
            left: 0%;
        }
    }

    @media (max-width: 1139px){
        .box-cnj {
            left: -70px;
        }
        .hino-main {
            left: -1%;
        }
    }

    @media (max-width: 973px){
        .section-main {
            flex-direction: column;
        }

        .box-cnj {
            margin-top: 40px;
            left: -11px;
        }
    }

    @media (max-width: 724px){
        .box-cnj {
            margin-top: 40px;
            left: 0px;
            top: -400px;
            height: 200px;
            width: 400px;
        }

        .hino-main {
            left: -1%;
            top: -262px;
            margin-top: 50px;
        }
    }

    @media (max-width: 416px){
        .hino-main {
            grid-template-columns: 1fr;
        }

        .box-cnj {
            width: 274px;
            height: 150px;
        }

        .hino-main {
            left: -3%;
        }
    }


    /* MEDIA BANNER */

    @media (max-width: 1325px){
        .bn-text {
            top: -21px;
            left: -65px;
        }
        .banner-main {
            width: 658px;
        }
        .text-ano {
            left: 11px;
        }
        .another-banner {
            width: 449px;
        }
    }

    @media (max-width: 1140px){
        .banner-main {
            width: 553px;
        }
        .bn-img {
            width: 427px;
            left: 58px;
            top: 70px;
        }   
        h2#subt-bn {
            font-size: 15px;
        }
        h1#titulo-bn {
            font-size: 22px;
        }
        p#p-bn {
            left: 183px;
        }
        .bn-text {
            top: -43px;
            left: -47px;
        }
        .another-banner {
            width: 388px;
        }
        .text-ano {
            left: -19px;
        }
        .text-ano #p-ano {
            font-weight: 500;
            font-size: 14px;
            max-width: 349px;
        }
        .ano-btns #btn-canal-ano {
            padding: 7px 12px;
        }
        .ano-btns #btn-play-ano {
            padding: 7px 12px;
            margin-right: 13px;
        }
    }

    @media (max-width: 1023px){
        .banner-main {
            top: -260px;
        }
        .another-banner {
            top: -260px;
        }
        .bn-content {
            width: 550px;
        }
        .bn-img {
            width: 1000px;
            left: -43px;
            top: 81px;
        }
        .bn-text {
            top: -22px;
            left: -105px;
        }
        p#p-bn {
            top: -11px;
            left: 136px;
        }
        h1#titulo-bn {
            font-size: 16px;
        }
        .text-ano {
            left: -6px;
            width: 400px;
        }
    }

    @media (max-width: 975px){
        .all-banner{
            flex-direction: column;
        }
        .text-ano {
            left: 75px;
            width: 400px;
        }
        .another-banner {
            width: 552px;
            left: -8px;
            margin-top: 10px;
            box-shadow: 1px 4px 12px rgba(0,0,0, 0.30);
        }
        
    }

    @media (max-width: 724px){
        .all-banner {
            flex-direction: column;
            position: relative;
            top: 30px;
            left: 10px;
        }
        .bn-img {
            width: 308px;
            left: -11px;
            top: 28px;
            position: absolute;
            height: 1px;
        }
        .bn-text {
            top: 20px;
            left: 244px;
            position: absolute;
            width: 200px;
        }
        .banner-main {
            height: 203px;
        }
        .bn-content {
            width: 0px;
        }
    }

    @media (max-width: 589px){
        .m-clear{
            display: none;
        }
        .banner-main {
            height: 303px;
            width: 400px;
        }
        .bn-img {
            width: 308px;
            left: -40px;
            top: 28px;
            position: absolute;
            height: 1px;
        }
        .bn-text {
            top: 20px;
            left: 200px;
            position: absolute;
            width: 200px;
        }
        .banner-main {
            height: 203px;
            width: 400px;
        }
    }

    /* =========== */