@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@500;700&family=Reenie+Beanie&family=Yeseva+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-black: #19191a;
    --color-gray: #f0f0f0;
    --color-main: #7d715f;
}

body::-webkit-scrollbar { width: 15px; }

body::-webkit-scrollbar-track {
  background: hsl(0, 100%, 100%);
  border-left: 1px solid hsl(0, 0%, 93%);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid hsl(0, 100%, 100%);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}

body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }

body{
    background: #8E7A62;
    position: relative;
    height: 1000px;
    min-height: 100vh;
    font-weight: 700;
}
html{
    scroll-behavior: smooth;
}

section{
    padding: 90px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

span {
    color: #7d715f;
}

/* HEADER */
header {
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    position: relative;
    font-size: 20px;
    margin-right: 40px;
    font-weight: 900;
    color: var(--color-gray);
    transition: ease .5s;
}

.navigation li a:hover {
    color: #fff;
}

.navigation li a::after,
.mostrar-div li a::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
    background: white;
}
 .navigation li a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 50%;
    height: 3px;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(1);
    transition: transform .5s;
    background: #fff;
}

header .navigation li a.active:hover:after {
    transform-origin: left;
    transform: scaleX(0);
}
header .navigation li a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
}

.logo .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo h1 {
    position: relative;
    font-size: 1.5em;
    position: relative;
    left: -10px;
    top: -1px;
}

.logo p {
    position: relative;
    top: -8px;
    left: -99px;
    font-weight: 500;
    font-size: 10px;
}

.logo .img-logo {
    width: 50px;
    height: 50px;
    position: relative;
    top: -9px;
    left: -8px;
}

.logo .img-logo img {
    width: 83px;
    position: relative;
    left: -38px;
    top: -8px;
}

.toogle,
.close
{
    display: none;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon a {
    color: var(--color-gray);
    font-size: 25px;
    margin-right: 10px;
}

i.bx.bx-bell {
    position: relative;
    top: 3px;
    cursor: pointer;
}

/* MAIN */
.div-youtube {
    position: relative;
    top: -40px;
    margin: 20px 0 20px 0;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.10), #8E7A62);
    padding: 0 0 0 0;
    border-radius: 10px;
    border: 0.1px solid #fff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.50);
}

.enviar {
    position: relative;
    top: -30px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.288);
    padding: 10px 3px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    left: 50%;
    height: 59px;
    transform: translate(-50%);
    cursor: pointer;
}
.enviar:hover{
    animation: enviar 1s 1;
}
@keyframes enviar{
    0%{
        box-shadow: 0 0 0 0px #333;
    }
    100%{
        box-shadow: 0 0 0 30px #33333375;
    }
}
.enviar i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    background: #f5f5f556;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #333;
}
.enviar:hover{
    background: #333;
    color: #fff;
}
.enviar::after{
    content: '';
    position: absolute;
    left: 30px;
    width: 75%;
    bottom: -6px;
    height: 3px;
    border-radius: 30px;
    transform-origin: center;
    transform: scaleX(0);
    background: linear-gradient(to right , #5E17EB,#F8049C);
    transition: .5s;
}
.enviar:hover::after{
    transform: scaleX(1);
}

/* BOXS */
.main-box {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-box .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    width: 240px;
    height: 217px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 12px rgba(0,0,0, 0.100);
    cursor: pointer;
}

.box:hover {
    animation: boxs-animação 1s 1;
}

@keyframes boxs-animação{
    0%{
        box-shadow: 0 0 0 0px #fff;
    }
    100%{
        box-shadow: 0 0 0 30px #ffffff7c;
    }
}

.icone {
    font-size: 50px;
    color: #333;
    position: relative;
    top: 1px;
}

.main-box .box .text {  
    text-align: center;
    color: #333;
    position: relative;
    top: -20px;
}

.main-box .box .text h1 {
    color: #333;
    font-size: 1.4em;
}

.main-box .box .text p {
    font-weight: 500;
}

/* PASTOR */
.pastor-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.gradient {
    position: relative;
    top: -9px;
    left: -22px;
    width: 2px;
    height: 563px;
    background-image: linear-gradient(to bottom, rgb(106,6,236), rgb(220, 0, 240));
}

.pastor-main .boxs-main-pastor {
    position: relative;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 600px;
}

.pastor-main .boxs-main-pastor .box-pastor  {
    text-align: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    padding: 20px 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.288);
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pastor-main .boxs-main-pastor .box-pastor:hover {
    transform: scale(1.02);
  }

.pastor-main .boxs-main-pastor .box-pastor .text-pastor {
    margin-left: 20px;
    color: #333;
}

.pastor-main .boxs-main-pastor .box-pastor .text-pastor h1 {
    color: #5E17EB;
}

.pastor-main .boxs-main-pastor .box-pastor .text-pastor p {
    line-height: 21px;
    font-weight: 500;
    margin: 7px 0;
}

.pastor-main .boxs-main-pastor .box-pastor .text-pastor h3 {
    color: #5E17EB;
    display: flex;
    align-items: center; 
}

.pastor-main .boxs-main-pastor .box-pastor .text-pastor h3 ion-icon {
    margin-left: 10px;
}

#icone-pastor {
    color: #8e7a6293;
    font-size: 23px;
}

.pastor {
    position: relative;
    top: -15px;
    left: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 352px;
    height: 542px;
}

.pastor .img {
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.pastor .img img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.26);
}

.pastor .text {
    color: #fff;
    margin-top: 20px;
}

.pastor .text h3 {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 19px;
    font-size: 1.6em;
    color: #fff;
}

.pastor .text h1 {
    position: relative;
    top: -26px;
    font-size: 2.3em;
}

.pastor .text h2 {
    font-size: 17px;
    position: relative;
    top: -30px;
}

.pastor .text p{
    font-weight: 500;
    font-size: 14px;
    position: relative;
    top: -25px;
}

.pastor .text a {
    position: relative;
    top: -4px;
    padding: 12px 15px;
    border-radius: 5px;
    color: #333;
    background: #fff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.26);
    transition: .5s ease;
}

/* PROFETA */
#profeta {
    width: 100%;
    position: relative;
    top: 40px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://tabernaculodafebrasilia.org.br/wp-content/uploads/2021/01/wmb-bg-2-min-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#profeta .text {
    color: #fff;
    position: relative;
    left: -200px;
}

#profeta .text h2 {
    color: #61CE70;
    font-family: 'Dancing Script', cursive;
    font-size: 33px;
    font-weight: 600;
}

#profeta .text h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 3,2px;
}

#profeta .text  p {font-size: 20px;margin: 10px 0;}

#profeta .text a {
    font-weight: 500;
    fill: #0A0A0A;
    color: #0A0A0A;
    background-color: #FFFFFF;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 5px;
    position: relative;
    top: 36px;
    transition: .5s;
}

#profeta .text a:hover {
    background: #61CE70;
    color: #fff;
}

/* TESTEMUNHOS */
#testemunhos {
    background: #FBFBFE;
    color: #333;
}

.testemunhos-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testemunhos-main .testemunho-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    flex-direction: row;
}

.testemunhos-main iframe {
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.349);
}

.testemunhos-main .testemunho-box .text h1 { 
    font-size: 30px;
}

/* CONTATO */
#contato {
    background: #FBFBFE;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #585665;
}

.contato-form label {
    position: relative;
    left: -214px;
    top: 34px;
    font-weight: 500;
    font-size: 13px;
}

.contato-form #label-msg {
    position: relative;
    left: -197px;
}



.contato-form input,
.contato-form textarea {
    background: #dfdfe9;
    border: none;
    width: 500px;
    padding: 10px;
}

.contato-form input {
    height: 70px;
    border-radius: 7px;
    padding: 0 16px;
    margin-bottom: 25px;
}

.contato-form textarea {
    resize: none;
    height: 200px;
    border-radius: 7px;
    padding: 17px 16px;
}

.contato-form #form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: none;
    background: #7d715f;
    color: #fff;
    border-radius: 7px;
    font-weight: 500;
    margin: 20px 0;
    cursor: pointer;
    position: relative;
    left: -163px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.188);
}

.contato-form #form-btn i {
    margin-left: 3px;
    font-size: 16px;
}

.contato .contato-form .success {
    position: relative;
    top: -88px;
    font-size: 17px;
    left: 155px;
    font-weight: 500;
    color: #666;
}

.boxs-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.box-contato {
    position: relative;
    width: 274px;
    height: 93px;
    display: flex;
    align-items: center;
    margin-right: 80px;
    margin-bottom: 40px;
}

.box-contato i {
    color: #7d715f;
    font-size: 40px;
    margin-right: 10px;
}


.box-contato .text h1 {
    color: #171719;
    font-weight: 500;
    font-size: 30px;
}

.box-contato .text p {
    color: #B8B8BA ;
    font-weight: 500;
}

/* FOOTER */
footer {
    padding: 90px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
}

.main-footer {
    background: #7d715f;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-footer .box-footer {
    position: relative;
    top: -65px;
    background-image: linear-gradient(191deg, #939496 0, #8d8c89 12.5%, #87847c 25%, #827b6e 37.5%, #7d715f 50%, #796751 62.5%, #755d45 75%, #72543a 87.5%, #704b31 100%);
    width: 900px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.188);
}

.main-footer .box-footer .text {
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
}

.main-footer .box-footer a {
    background: #3c3c3c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 40px;
    border-radius: 50px;
    font-weight: 500;
    transition: .5s ease;
}

.main-footer .box-footer a:hover {
    background-color: rgba( 0,0,0,0.6 );
}

.main-footer .content-footer {
    position: relative;
    left: -135px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 200px;
    top: -52px;
}

.content-footer .item {
    width: 200px;
    height: 200px;
    position: relative;
    top: 23px;
    display: flex;
    justify-content: center;
    align-items: revert;
    text-align: left;
    color: #19191a;
    font-weight: 500;
    margin-left: 39px;
}

.content-footer .item li {
    list-style: none;
}

.content-footer .item li a {
    color: #3C3C3C;
}

.content-footer ul .icones {
    position: relative;
    left: -120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-footer ul .icones li {
    list-style: none;
}

.content-footer ul .icones li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EBEFF2;
    color: #3C3C3C;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#ecomerce-footer {
    color: #333;
    position: relative;
    left: -110px;
    margin: 10px 0;
}

#paragrafo-footer {
    color: #3C3C3C;  
    font-weight: 500;
    max-width: 328px;
    font-size: 12px;
}

/* SCROLL */
#scroll-to-top {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    background-color: rgba( 0,0,0,0.4 );
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}

#scroll-to-top i {
    color: #ffffffc4;
}

#scroll-to-top:hover {
    background-color: rgba( 0,0,0,0.6 );
}

#scroll-to-top.hidden {
    opacity: 0;
    pointer-events: none;
}
/* POP UP - MAIN - NOTFICAÇÃO */
.notficação {
    position: fixed;
    top: 74px;
    right: 115px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 560px;
    background: #fff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.188);
    border-radius: 5px;
}

.notficação.active {
    display: flex;
}

.notficação .cabeçario {
    position: relative;
    top: -114px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #e8eaec;
}

.notficação .cabeçario h1{
    color: #3A3E41;
    font-size: 21px;
    line-height: 2.4rem;
}

.notficação .cabeçario span {
    cursor: not-allowed;
    color: #666;
    font-weight: 500;
    font-size: 13px;
    padding: 0 8px;
}

.notficação .content-notfiçaçao {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}

.notficação .content-notfiçaçao p {
    margin-top: 40px;
}

/* POP UP - MAIN - FORM */
.popup-main {
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #33333370;
    z-index: 99;
}

.popup-main.active {
    display: flex;
}

.popup-main .popup-box {
    background: #fff;
    border: 1px solid #ffffff52;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 388px;
    height: 479px;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0,0,0, 0.100);
}

.popup-main .popup-box form h1 {
    position: relative;
    margin-bottom: 25px;
    color: #333;
}

.popup-main .popup-box form h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background: #7d715f;
}

.popup-main .popup-box form label {
    color: #666;
    margin-bottom: 10px;
}

.popup-main .popup-box form  
.popup-main .popup-box form #form-btn,
.popup-main .popup-box form #email,
.popup-main .popup-box form #nome,
.popup-main .popup-box form #mensagem
{
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    background: transparent;
}

.popup-main .popup-box form  
#email::placeholder,
#nome::placeholder,
#mensagem::placeholder
{
    color: #333333be;
}

.popup-main .popup-box form #email,
.popup-main .popup-box form #nome{
    border: none;
    border-bottom: 1px solid #333;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus{
    outline: none;
}


.popup-main .popup-box form #mensagem{
    min-height: 7.5rem;
    resize: none;
    border: 1px solid #333;
    border-radius: 5px;
}

.popup-main .popup-box form #form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: none;
    background: #7d715f;
    color: #fff;
    border-radius: 7px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.188);
}

.popup-main .popup-box form #form-btn i{
    margin-left: 5px;
} 

/* MEDIA HEADER */
@media (max-width: 1172px) {
    .navigation {
        position: fixed;
        top: 80px;
        left: 80%;
        transform: translate(-50%);
        background: #333;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 230px;
        height: 250px;
        border-radius: 10px;
    }

    .navigation.active {
        display: flex;
    }

    .navigation li {
        position: relative;
        left: 12px;
    }

    .toogle {
        display: block;
        font-size: 34px;
        color: #fff;
    }

    .toogle.active {
        display: none;
    }

    .close {
        font-size: 34px;
        color: #fff;
    }

    .close.active {
        display: block;
    }
}

@media (max-width: 610px) {
    .menu {
        position: relative;
        left: 61px;
    }
}

@media (max-width: 800px) {
    .menu {
        position: relative;
        left: 61px;
    }
}

@media (max-width: 513px) {
    .menu {
        position: relative;
        left: 119%;
        transform: translate(-50%);
        top: 6px;
    }

    .logo {
        position: absolute;
        top: 24px;
    }

    .logo h1 {
        position: relative;
        font-size: 1.2em;
        position: relative;
        left: -57px;
        top: -1px;
    }

    .logo p {
        position: relative;
        top: -8px;
        left: -125px;
        font-weight: 500;
        font-size: 10px;
    }

    .logo .img-logo {
        left: -50px;
    }
}

@media (max-width: 400px) {
    .menu {
        position: relative;
        left: 134%;
        transform: translate(-50%);
        top: 6px;
    }
}

@media (max-width: 350px) {
    .logo h1 {
        display: none;
    }

    .logo p {
        display: none;
    }

    .menu {
        position: relative;
        left: 134%;
        transform: translate(31%);
        top: 6px;
    }
}

/* MEDIA MAIN */
@media (max-width: 570px) {
    .video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
}

@media (max-width: 308px) {
    .enviar {
        width: 97%;
    }
}

/* MEDIA BOXS */
@media (max-width: 1310px) {
    .main-box {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1070px) {
    .main-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 810px) {
    .main-box {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 540px) {
    .main-box {
        grid-template-columns: 1fr;
    }

    .main-box .box {
        margin-right: 0;
    }
}

/* MEDIA PASTOR */
@media (max-width: 910px) {
    .pastor {
        left: 0px;
    }

    .pastor-main {
        flex-direction: column-reverse;
    }

    .gradient {
        display: none;
    }

    .pastor .text {
        color: #fff;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .pastor-main .boxs-main-pastor .box-pastor {
        left: 10px;
    }
}

@media (max-width: 502px) {
    .pastor-main .boxs-main-pastor .box-pastor {
        width: 100%;
    }

    .pastor-main .boxs-main-pastor {
        width: 100%;
    }
}

@media (max-width: 361px) {

    .pastor {
        width: 100%;
        margin-bottom: 46px;
    }

    .pastor .img {
        width: 100%;
    }

    .pastor .text {
        color: #fff;
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
    }
}

/* MEDIA PROFETA */
@media (max-width: 1090px) {
    #profeta .text {
        color: #fff;
        position: relative;
        left: 0;
    }
}

@media (max-width: 639px) {
    #profeta .text h1 {
        font-size: 34px;
    }
    
    #profeta .text p {
        font-size: 15px;
    }

    #profeta .text a {
        padding: 15px 25px;
    }
}

@media (max-width: 519px) {
    #profeta {
        height: 100vh;
        background-image: url(../img/profeta-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #profeta .text h1 {
        font-size: 25px;
    }

    #profeta .text h2 {
        font-size: 25px;
    }

    #profeta .text p {
        font-size: 10px;
    }
}

/* MEDIA TESTEMUNHO */
@media (max-width: 945px) {
    .testemunhos-main .testemunho-box {
        display: grid;
    }

    .text.s2 {
        position: relative;
        top: 329px;
    }

    iframe.video.s2 {
        position: relative;
        top: -120px;
    }
}

@media (max-width: 488px) {
    .text.s2 {
        position: relative;
        top: 362px;
    }
}

/* MEDIA CONTATO */
@media (max-width: 864px) {
    .contato {
        flex-direction: column;
    }
}

@media (max-width: 510px) {
    .contato-form #form-btn {
        left: -63px;
    }

    .contato-form input {
        width: 300px;
    }

    .contato-form textarea {
        width: 300px;
    }

    .boxs-contato {
        position: relative;
        transform: translate(-50%);
        left: 18%;
        width: 0;
    }
}

/* MEDIA FOOTER */
@media (max-width: 924px) {
    .main-footer {
        height: 533px;
        position: absolute;
        top: 4942px;
    }

    .main-footer .content-footer {
        position: absolute;
        grid-template-columns: 1fr 1fr;
        top: 58px;
        left: -38px;
    }

    .main-footer .box-footer {
        top: -240px;
        height: 200px;
        width: 564px;
    }

    ul.item.sw {
        position: absolute;
        top: 275px;
        left: 173px;
    }
}

@media (max-width: 949px) {
    .content-footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        left: 166px;
        top: -52px;
    }

    .main-footer .box-footer {
        position: relative;
        top: -242px;
        background-image: linear-gradient(191deg, #939496 0, #8d8c89 12.5%, #87847c 25%, #827b6e 37.5%, #7d715f 50%, #796751 62.5%, #755d45 75%, #72543a 87.5%, #704b31 100%);
        width: 471px;
        height: 202px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.188);
    }

    .main-footer .content-footer {
        position: absolute;
        left: 37%;
        transform: translate(-58%);
        grid-template-columns: 1fr 1fr;
    }

    .main-footer {
        background: #7d715f;
        width: 100%;
        height: 543px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    ul.item.sw {
        position: absolute;
        top: 192px;
        left: 191px;
    }

    .content-footer .item {
        width: 200px;
        height: 200px;
        position: relative;
        top: 67px;
        display: flex;
        justify-content: center;
        align-items: revert;
        text-align: left;
        color: #19191a;
        font-weight: 500;
        margin-left: 39px;
    }

    .content-footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        left: 217px;
        top: -5px;
    }
}

@media (max-width: 864px) {
    .main-footer {
        background: #7d715f;
        width: 100%;
        height: 543px;
        top: 5362px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-footer .content-footer {
        position: absolute;
        left: 37%;
        top: 151px;
        transform: translate(-58%);
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: px) {
    
}

/* REFAZER O FOOTER */