@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    :root{
        --color-neutral-0: #0e0c0c;
        --color-neutral-10: #171717;
        --color-neutral-30: #a8a29e;
        --color-neutral-40: #f5f5f5;
    }
body::-webkit-scrollbar { width: 15px; }

body::-webkit-scrollbar-track {
  background: hsl(0, 100%, 100%);
  border-left: 1px solid hsl(0, 0%, 93%);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid hsl(0, 100%, 100%);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}

body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
    .icons .circulo{
        position: relative;
        right: 10px;
        top: -10px;
        background: rgb(241, 72, 72);
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    body{
        background: #fff;
        position: relative;
        height: 1000px;
        min-height: 100vh;
        font-weight: 700;
    }
    html{
        scroll-behavior: smooth;
    }
    section{
        padding: 90px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .dot {
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
    }

    /* BANNER */

    .box-banner{
        width: 100%;
        height: 100%;
        background: #c5ba9c;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.363);
    }

    .box-banner .reflexao-content{
        position: relative;
        top: 29px;
        left: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        height: 266px;
        transform: translate(-50%);
    }

    .reflexao-banner{
        width: 531px;
        height: 231px;
        border-radius: 10px;
    }

    .reflexao-banner .img-banner{
        border-radius: 10px;
        width: 100%;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.192);
    }

    h2#titulo-reflexao {
        color: #333;
        position: relative;
        top: -13px;
        font-size: 25px;
    }

    p#data-reflexao {
        color: #333;
        position: relative;
        top: -16px;
        font-size: 13px;
    }

    p#descrição-reflexao {
        color: #333;
        position: relative;
        max-width: 526px;
        top: -9px;
        font-weight: 500;
        text-align: justify;
        font-size: 21px;
    }

    a#btn-reflexao {
        position: relative;
        top: 13px;
        background: #fff;
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        border-radius: 7px;
        color: #8E7A62;
    }

    a#btn-reflexao:hover{
        animation: shadow-fff .5s ease forwards;
    }
    @keyframes shadow-fff{
     0% {
          box-shadow: 0 0 0 0px #fff;
     }
     100% {
          box-shadow: 0 0 0 35px rgba(255, 255, 255, 0.425);
     }
}
    a#btn-reflexao ion-icon{
        position: relative;
        left: -10px;
        font-size: 20px;
    }

    .nome-reflexao {
        top: 28px;
        position: relative;
        left: -30%;
        width: 900px;
        height: 238px;
        transform: translate(50%);
    }


    /* PESQUISAR RESULTADO FETCH */

    .posit {
        position: relative;
        top: 133px;
    }

    .box-search {
        position: relative;
        margin: 7px;
        left: 165px;
        top: 82px;
        transform: translate(-50%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    div#video-container {
        position: fixed;
        width: 100%;
        background: #33333370;
        height: 100%;
        top: 0;
        left: 50%;
        z-index: 0;
        opacity: 0;
        transform: translate(-50%);
        z-index: -9;
    }

    div#video-container.active{
        z-index: 90;
        opacity: 1;
    }

    .input.active {
        top: 152px;
        position: fixed;
        left: 26%;
        z-index: 99;
        background: #fff;
        color: #333;
        transform: translate(-50%);
    }

    .main-videos {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        top: 29%;
        left: 50%;
        z-index: 99;
        transform: translate(-50%);
        width: 1050px;
        height: 485px;
        backdrop-filter: blur(30px);
        border: 1px solid #ffffff52;
        overflow-y: auto;
        border-radius: 10px;
    }

    .tds {
        display: flex;
    }

    /* Destaques */
    
    h1#titulo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -186px;
        color: #333;
        text-align: center;
    }

    .destaques-main {
        position: relative;
        top: -236px;
        left: -25px;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .destaques-main .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 393px;
        height: 299px;
        box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.80);
        border-radius: 10px;
        left: 25px;
        background: #FFF;
        margin: 20px;
        cursor: context-menu;
    }

    .destaques-main .box .header{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        top: 3px;
        width: 100%;
        height: 100px;
    }

    .destaques-main .box .header .img{
        position: relative;
        left: -10px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

    .destaques-main .box .header .img img{
        width: 100%;
        border-radius: 50%;
    }

    .destaques-main .box .header .nome {
        position: relative;
        left: -49px;
        width: 159px;
        height: 50px;
        color: #333;
    }

    .destaques-main .box .header .nome h5{
        font-size: 11px;
        position: relative;
        top: 3px;
    }

    .destaques-main .box .mensagem {
        position: relative;
        top: 8px;
        width: 71%;
        height: 129px;
        text-align: justify;
        color: #333;
        display: flex;
        justify-content: center;
    }

    .destaques-main .box .creditos{
        position: relative;
        top: -18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 294px;
        height: 100px;
    }

    .destaques-main .box .creditos .assistir{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    p.p-reflexao {
        font-size: 13px;
        position: relative;
        top: 16px;
        left: 9px;
        color: #333;
        font-weight: 500;
    }

    p#mensagem-p {
        position: relative;
        top: -18px;
        font-size: 14px;
    }
    /*  */

    .fl{
        display: flex;
    }

    .seta {
        position: absolute;
        left: 1363px;
        top: 73px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.48);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        transition: 1s ease;
    }

    .seta:hover{
        background: #333;
        color: #fff;
    }

    .hino-content .text h1{
        position: relative;
    }
    .hino-content .text h1::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        bottom: -3px;
        border-radius: 10px;
        background: linear-gradient(to right, #fff, #8E7A62);
    }
    .nav-mobile li a.ativo::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        transform: scaleX(1);
        background: #fff;
    }
    .nav-mobile{
        display: none;
        position: relative;
        top: -303px;
        left: -302px;
    }
    .nav-mobile li a {
        margin-right: 40px;
        color: #fff;
        position: relative;
    }
/*=== Primeiro Box reflexao ==*/
.reflexao-section-inicio{
    animation: reflexaoanimatiom 2s ease-in-out forwards;
}

.main-reflexao {
    position: relative;
    top: -382px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
    height: 259px;
    width: 80%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.39);
}
.reflexao-section-inicio .main-reflexao .text{
    position: relative;
    left: 50px;
    color: #333;
}

.nav {
    position: relative;
    top: -197px;
    left: -359px;
    padding: 100px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: navanimatiom 3s ease-in-out forwards;
}

.nav li{
    list-style: none;
}

.nav li a{
    margin-right: 40px;
    color: #fff;
}
.hino-section.recomendado{
    position: relative;
    top: -50px;
}

div#mais-visto{
    position: relative;
    top: -100px;
}

/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/
.content-app .img{
    position: relative;
    top: -200px;
    width: 100%;
}
.content-app .img img{
    width: 100%;
    border-radius: 10px;
}

.banner {
    margin-top: 0;
    position: relative;
    top: -284px;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius-md);
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 450px;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  scroll-snap-align: start;
}

.slider-item .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.banner-content {
  background: hsla(0, 0%, 100%, 0.8);
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  padding: 20px 25px;
  border-radius: var(--border-radius-md);
}

.banner-subtitle {
  color: var(--salmon-pink);
  font-size: var(--fs-7);
  font-weight: var(--weight-500);
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.banner-title {
  color: var(--eerie-black);
  font-size: var(--fs-1);
  line-height: 1;
  margin-bottom: 10px;
}

.banner-text { display: none; }

.banner-btn {
  margin-top: 40px;
  background: var(--salmon-pink);
  color: var(--white);
  width: max-content;
  font-size: var(--fs-11);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}

.banner-btn:hover { background: var(--eerie-black); }

/* === KEYFLAMES === */
@keyframes reflexaoanimatiom{
    0%{
        transform: translateY(10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes navanimatiom{
    0%{
        transform: translateY(-10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/*=== Fim ==*/

    @keyframes enviar{
        0%{
            box-shadow: 0 0 0 0px #fff;
        }

        100%{
            box-shadow: 0 0 0 30px #ffffff42;
        }
    }



    .hino-section-inicio .main .img-div-hino{
        position: relative;
        left: -25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 250px;
    }

    .hino-section-inicio .main .img-div-hino img{
        border-radius: 10px;
        width: 100%;
    }
   #tdf-animacao{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #8E7A62;
        opacity: 1;
      z-index: -15;
      animation: nada 5s ease;
    }
    #tdf-animacao .content{
        position: relative;
        top: -100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .revelar-text{
            position: relative;
            color: #fff;
            animation: position-left 3s ease;
            opacity: 0;
        }
        .revelar-text h1{
            position: relative;
            font-size: 20px;
        }
        .revelar-text:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 900px;
            background: #8E7A62;
            animation: animacao 3s ease;
            animation-fill-mode: forwards;
        }
        
        .img-content{
        position: relative;
            animation: position-top 3s ease;
            opacity: 0;
        }
        
        .img-content img{
            position: relative;
        left: -10px;
        width: 100px;
        height: 70px;
        opacity: 0;
        animation: position-top 3s ease;
        }
        
        .revelar-text h1:after{
        content: '';
        position: absolute;
        width: 40%;
        left: 90%;
        bottom: -2px;
        height: 3px;
        border-radius: 10px;
        background: linear-gradient(to right, #8E7A62, #fff);
        transform: translate(-50%);
        }
        
        .revelar-text p{
        position: relative;
        top: 10px;
        left: 0;
        font-size: 12px;
        animation: p-left 2.5s ease;
        }
        
        .tdf-main{
            position: relative;
            bottom: -240px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 14px;
            color: #fff;
            opacity: .5;
        }
        .tdf-main .main h4{
            animation: pastor 3s ease;
            opacity: 0;
        }
        @keyframes animacao{
            from{
                transform: translateX(0%);
                opacity: 1;
            }
            
            to{
                transform: translateX(101%);
                opacity: 0;
            }
        }
        @keyframes position-left{
            0%{
                transform: translateX(-100%);
                opacity: .1;
            }
            
            50%{
                transform: translateX(10%);
                opacity: 1;
            }
            
            100%{
                transform: translateX(0%);
                opacity: 0;
            }
        }
        
        @keyframes p-left{
            0%{
                transform: translateX(-50%);
                opacity: 1;
            }
            
            100%{
                transform: translateX(0%);
            }
        }
        
        @keyframes position-top{
            0%{
                transform: translateY(-100%);
                opacity: .1;
                z-index: 9999;
            }
            
            50%{
                transform: translateY(-4%);
                z-index: 9999;
                opacity: 1;
            }
            
            100%{
                transform: translateY(0%);
                z-index: 0;
            }
        }
        
        @keyframes pastor{
            0%{
                transform: translateY(100%);
                opacity: .1;
                z-index: 9999;
            }
            
            50%{
                transform: translateY(4%);
                z-index: 9999;
                opacity: 1;
            }
            
            100%{
                transform: translateY(0%);
                z-index: 0;
            }
        }
        @keyframes nada{
            0%{
                z-index: 9999;
                opacity: 1;
            }
            
            50%{
                opacity: 1;
            }
            
            75%{
                opacity: 1;
            }
            
            100%{
                z-index: 0;
                opacity: 0;
            }
        }
        .notficacao{
            top: 0;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: linear-gradient(to left top,#9C7264,#A6926A);
            position: fixed;
            right: 0;
            width: 364px;
            height: 100%;
            z-index: 99;
            border-radius: 10px;
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.212);
            overflow: hidden;
            animation: notficacao 1s 1 forwards;
        }
        @keyframes notficacao{
            0%{
                transform: translateX(100%);
                opacity: 0.5;
            }
            100%{
                transform: translateX(0);
                opacity: 1;
            }
        }
    .notficacao.active{
        display: flex;
    }
    .notficacao .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .notficacao .main .main-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 136px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .notficacao .main .main-content h1{
        color: #f5f5f5;
        font-size: 1.5em;
        position: relative;
    }
    .notficacao .main .main-content h1::after{
        content: '';
         position: absolute;
         left: 0;
         border-radius: 10px;
         width: 68%;
         height: 3px;
         bottom: -6px;
         background: #fff;
    }
    .notficacao .main .main-content .close{
        color: #333;
        background: #fff;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.11);
        transition: all .5s ease;
    }
    .notficacao .main .main-content .close:hover{
        opacity: .5;
        color: black;
    }
    .notficacao .main .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .notficacao .main .content .box{
        display: flex;
        left: 0;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 20px;
        margin-bottom: 20px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.212);
        border-radius: 10px;
        background: #fff;
        width: 330px;
        height: 100px;
    }
    .notficacao .main .content .box .img-box{
        overflow: hidden;
        position: relative;
        left: 10px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.212);
    }
    .notficacao .main .content .box .img-box img{
        width: 100%;
    }
    .notficacao .main .content .box .text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        color: #333;
        width: 240px;
        height: 100px;
        left: -20px;
    }
    .notficacao .main .content .box .text h1{
        font-size: 1.2em;
        position: absolute;
        left: 0;
        top: 7px;
    }
    .notficacao .main .content .box .text p{
        position: absolute;
        top: 32px;
        font-size: .6em;
    }
    .navigation-icon{
        position: fixed;
        width: 400px;
        height: 70px;
        background: #fff;
        display: none;
        justify-content: center;
        align-items: center;
        bottom: 0;
        border-radius: 10px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.40);
        z-index: 8;
    }
    .navigation-icon ul{
        display: flex;
        width: 350px;
    }
    .navigation-icon ul li{
        position: relative;
        list-style: none;
        width: 70px;
        z-index: 8;
    }
    .navigation-icon ul li a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .navigation-icon ul li a .icon{
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.5em;
        text-align: center;
        transition: 0.5s;
        color: var(--clr);
    }
    .navigation-icon ul li.active a .icon{
        transform:  translateY(-32px);
    }
    .navigation-icon ul li a .text{
        position: absolute;
        color: var(--clr);
        font-size: 0.75em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(20px);
    }
    .navigation-icon ul li.active a .text{
        opacity: 1;
        transform: translateY(10px);
    }
    .indicador{
        position: absolute;
        top: -50%;
        width: 70px;
        height: 70px;
        background: #8E7A62;
        border-radius: 50%;
        border: 6px solid #fff;
        transition: 0.5s;
    }
    .navigation-icon ul li:nth-child(1).active ~ .indicador{
        transform: translateX(calc(70px * 0));
    }
    .navigation-icon ul li:nth-child(2).active ~ .indicador{
        transform: translateX(calc(70px * 1));
    }
    .navigation-icon ul li:nth-child(3).active ~ .indicador{
        transform: translateX(calc(70px * 2));
    }
    .navigation-icon ul li:nth-child(4).active ~ .indicador{
        transform: translateX(calc(70px * 3));
    }
    .navigation-icon ul li:nth-child(5).active ~ .indicador{
        transform: translateX(calc(70px * 4));
    }
    .logo-main{
        position: relative;
        font-weight: 700;
    }
    .logo-main  .logo-content .logo{
        position: relative;
    }
    .logo-main p{
        position: absolute;
        font-size: 10px;
        top: -2px;
        color: #666;
        left: 70px;
        color: #fff;
    }
    .notficacao{
        top: 0;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(to left top,#9C7264,#A6926A);
        position: fixed;
        right: 0;
        width: 364px;
        height: 100%;
        z-index: 99;
        border-radius: 10px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.212);
        overflow: hidden;
    }
    .notficacao.active{
        display: flex;
    }
    .notficacao .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .notficacao .main .main-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 136px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .notficacao .main .main-content h1{
        color: #f5f5f5;
        font-size: 1.5em;
        position: relative;
    }
    .notficacao .main .main-content h1::after{
        content: '';
         position: absolute;
         left: 0;
         border-radius: 10px;
         width: 68%;
         height: 3px;
         bottom: -6px;
         background: #fff;
    }
    .notficacao .main .main-content .close{
        color: #333;
        background: #fff;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.11);
        transition: all .5s ease;
    }
    .notficacao .main .main-content .close:hover{
        opacity: .5;
        color: black;
    }
    .notficacao .main .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .notficacao .main .content .box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 20px;
        margin-bottom: 20px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.212);
        border-radius: 10px;
        background: #fff;
        width: 330px;
        height: 100px;
    }
    .notficacao .main .content .box .img-box{
        overflow: hidden;
        position: relative;
        left: 10px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.212);
    }
    .notficacao .main .content .box .img-box img{
        width: 100%;
    }
    .notficacao .main .content .box .text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        color: #333;
        width: 240px;
        height: 100px;
        left: -20px;
    }
    .notficacao .main .content .box .text h1{
        font-size: 1.2em;
        position: absolute;
        left: 0;
        top: 7px;
    }
    .notficacao .main .content .box .text p{
        position: absolute;
        top: 32px;
        font-size: .6em;
    }
    .mobile-section-hino{
        display: none;
    }
    .header{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
    }
    .fundo{
        background: #8E7A62;
        position: absolute;
        top: 0;
        width: 100%;
        height: 300px;
    }
    .icon{
        color: white;
        margin-left: 40px;
        cursor: pointer;
        transition: .5s ease-in-out;
    }
    .icon:hover{
        transform: scaleX(1.3);
    }
    .logo{
        display: flex;
        font-size: 1.5em;
        color: white;
    }
    .header .navigation{
        position: relative;
        display: flex;
    }
    .header .navigation li{
        display: flex;
        list-style: none;
    }
   
    .header .navigation li a
    {
        position: relative;
        font-size: 1.1em;
        margin-left: 40px;
        text-decoration: none;
        color: white;
    }
    .header .navigation li a::after,
    .mostrar-div li a::after
    {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .5s;
        background: white;
    }
    .header .navigation li a:hover:after {
        transform-origin: left;
        transform: scaleX(1);
    }
    .nav li a{
        position: relative;
    }
    .nav li a::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .5s;
        background: #fff;
    }
    .nav li a:hover:after{
        transform-origin: left;
        transform: scaleX(1);
    }
    .nav-mobile li a::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .5s;
        background: #fff;
    }
    .nav-mobile li a:hover:after{
        transform-origin: left;
        transform: scaleX(1);
    }

    .nav li a.ativo::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        transform: scaleX(1);
        background: #fff;
    }
    
    .icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .header .icons li a:hover:after{
        transform-origin: left;
        transform: scaleX(0);
    }
    .header .navigation li a.active::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 50%;
        height: 3px;
        border-radius: 5px;
        transform-origin: left;
        transform: scaleX(1);
        transition: transform .5s;
        background: #fff;
    }
    .header .navigation li a.active:hover:after{
        transform-origin: left;
        transform: scaleX(0);
    }
    .icons li{
        display: flex;
        list-style: none;
    }
    .icons li a {
        display: flex;
        position: relative;
        margin-left: 40px;
        text-decoration: none;
    }
    .icons .bx{
        color: #fff;
        font-size: 2em;
        padding: 5px;
        border-radius: 50%;
        transition:.5s;
    }

    .icons .bx-bell{
        margin-left: 100px;
        cursor: pointer;
    }
    .input {
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.068);
        border: none;
        padding: 10px 46px;
        width: 319px;
        border-radius: 14px;
        height: 42px;
        position: relative;
        left: 38%;
        font-size: 16px;
        background: #e2dbd180;
        transform: translate(-50%);
        font-weight: 500;
    }
    .input::placeholder{
        color: #fff;
    }
    .input:placeholder-shown{
        color: #fff;
    }
    .input:focus{
        outline: none;
        background: #fff;
        color: #333;
    }
    .footer{
        background: transparent;
    }
    footer{
        width: 100%;
        color: var(--color-neutral-40);
    }
    .footer-link{
        text-decoration: none;
    }
    #footer_content{
        background: #6b5e4f;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 3rem 3.5rem;
    }
    #footer_contacts h1{
        margin-bottom: 0.75rem;
    }
    #footer_social_media{
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;
    }
    #footer_social_media .footer-link{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.5rem;
        color: var(--color-neutral-40);
        border-radius: 50%;
        transition: all 0.4s;
    }
    #footer_social_media .footer-link i{
        font-size: 1.25rem;
    }
    #footer_social_media .footer-link:hover{
        opacity: 0.8;
    }
    #instagram{
        background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    }
    #youtube{
        background: linear-gradient(#c00, red);
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        list-style: none;
    }
    .footer-list .footer-link{
        color: var(--color-neutral-30);
    }
    .footer-list .footer-link:hover{
        opacity: 0.7;
        transition: all 0.4s;
    }
    #input_group button:hover{
        opacity: 0.8;
    }
    #footer_copyright{
        display: flex;
        justify-content: center;
        background-color: #745d46;
        font-size: 0.9rem;
        padding: 1.5rem;
        font-weight: 100;
    }
   #footer_content #footer_contacts h1{
        font-size: 1em;
        display: flex;
    }
    .hino{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .hino .hino-main{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 50px 400px;
        color: #fff;
        text-align: center;
        background-image: linear-gradient(to top left, #FDF0CB, #8E7A62);
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);
    }
    .hino .hino-main .hino-main-text{
        position: relative;
        left: -100px;
    }
    .hino .hino-main .hino-main-text h1{
        font-size: 2rem;
    }
    .hino .hino-main .hino-main-text p{
        color: #333;
    }
    .hino .hino-main .hino-main-text h1,
    .hino .hino-main .hino-main-text p{
        position: relative;
        left: -10px;
    }
    .hino-btn{
        margin-top: 10px;
        margin-left: -50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hino-btn .btn-y{
        color: #fff;
        border-radius: 10px;
        padding: 10px 15px;
        border: 1px solid #333;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);
        transition: .5s;
    }
    .hino-btn .btn-p,
    .hino-btn .btn-y:hover
    {
        padding: 10px 15px;
        color: #fff;
        border-radius: 10px;
        background-color: #333;
        transition: .5s;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);
    }
    .hino-btn .btn-p:hover{
        background-color: transparent;
        color: #fff;
        border-radius: 10px;
        border: 1px solid #333;
        transition: .5s;
    }
    a{
        text-decoration: none;
    }
    .principal{
        border-radius: 10px;
    }
    .img{
        width: 314px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.39);
        border-radius: 10px;
    }

    .content-categoria-titulo{
        position: relative;
    }

    .hino-section{
        position: relative;
        top: -250px;
        display: flex;
        overflow-x: auto; 
        scroll-snap-type: inline mandatory;
    }
    .hino-content{
        position: relative;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
        margin-top: 55px;
    }
    .hino-content .text{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -20px;
    }
    .box{
        position: relative;
        margin: 7px;
        left: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .box:hover{
        transform: scale(1.042);
    }

    .img-content-reflexao{
        width: 314px;
    }

    .hino-section .box .hover {
        display: none;
    }

    .hino-section .box .hover ion-icon{
        position: absolute;
        left: 15px;
        top: 19px;
        color: #c00;
        background: #ffffff8e;
        border-radius: 3px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .hino-section .box:hover .hover{
        display: flex;
    }

    .hino-section .videos-box .img {
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.39);
        width: 100%;
    }
    .hino-section .box .videos-box p{
        text-align: center;
        color: #fff;
    }
    .hino-mostrar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        background: rgba(0, 0, 0, 0.493);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100%;
        z-index: 100;
        transform: scale(0);
    }
    .hino-mostrar .content .text h1{
        color: #666;
    }
    .hino-mostrar .content .text p{
       font-size: .8em;
       color: #666;
    }
    .hino-mostrar .content .text hr{
        background: #333;
    }
    .hino-mostrar .fechar{
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 650px;
        padding: 10px;
        border: none;
        background: #666;
        border-radius: 50%;
        transition: 0.5s;
        transform: translate(-50%);
    }
    .hino-mostrar .fechar:hover{
        opacity: 0.5;
    }
    .hino-mostrar .fechar ion-icon{
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FDF0CB;
    }
    .hino-mostrar.active{
        position: fixed;
        transform: scale(1);
    }
    .video{
        border-radius: 10px;
    }
    .logo-content{
        position: relative;
        top: 10px;
        display: flex;
    }
    .logo-content img{
        position: relative;
        top: -17px;
        width: 70px;
    }

    /* footer */

    footer{
        background: transparent;
    }

    .footer-main-r {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 30px;
        background: #8E7A62;
        width: 100%;
        height: 140px;
        
    }

    .footer-main-r .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        width: 1100px;
        height: 120px;
    }

    .footer-main-r .content .img-cntent{
        width: 325px;
        height: 50px;
        padding: 10px;
    }

    .footer-main-r .content .img-cntent img{
        width: 100%;
    }

    .text {
        position: relative;
        text-align: right;
        left: 25%;
        font-size: 15px;
        transform: translateX(-50%);
        padding: 10px;
    }

    /*  */

    @media (max-width: 1046px){
        .logo-content{
            position: relative;
            left: -40px;
            font-size: 0.8em;
        }
    }
    @media (max-width: 354px){
        .logo-content img{
            left: -0px;
        }
        .logo{
            display: none;
        }
    }
    @media (max-width: 1245px){
        .icon{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000000;
            margin:10px 0 10px 0;
            cursor: pointer;
        }
    .icon:hover{
        transform: scaleX(1.3);
    }
    }
    @media (max-width: 1046px){
        .logo-content{
            position: relative;
            left: -30px;
            font-size: 0.8em;
        }
        .logo-content .logo{
            position: relative;
            left: 2px;
        }
       }
    @media (max-width: 1222px){
        .hino .hino-main{
            position: relative;
            flex-direction: column-reverse;
            width: 10%;
            border-radius: 10px;
        }
        .hino .hino-main a img{
            margin-top: 40px;
        }
        .hino .hino-main .hino-main-text{
            position: relative;
            left: 10px;
            width: 100vh;
        }
        .hino-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .hino-btn{
            position: relative;
            left: 15px;
        }
        .btn-y{
            margin-bottom: 10px;
            font-size: .9em;
        }
    }
    @media screen and (max-width: 841px){
        .mobile-section-hino{
            display: block;
        }
        section.hino div.hino-main{
            display: none;
        }
        .mobile-section-hino{
            position: relative;
            top: -100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .mobile-section-hino-contet{
            position: relative;
            width: 90%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            padding: 15px;
            border-radius: 10px;
            background-image: linear-gradient(to top left, #FDF0CB, #8E7A62);
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.274);
        }
        .mobile-section-hino .mobile-section-hino-contet .hino-main-text h1{
            color: #fff;
        }
        .hino-btn{
            position: relative;
            left: 25px;
        }
    }
    @media (max-width: 814px){
        .video {
            aspect-ratio: 16 / 9;
            width: 100%;
          }
    }
    @media screen and (max-width: 768px){
        #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        }
    }
    
    @media screen and (max-width: 426px){
     #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
     }
    }
        @media screen and (max-width: 379px){
            .logo-content .logo{
                display: none;
            }
        }
        @media screen and (max-width: 575px){
            .hino-mostrar .content {
                width: auto;
            }
        }
        @media (max-width: 1046px){
            .logo-content{
                position: relative;
                left: -30px;
                font-size: 0.8em;
            }
        }
        @media (max-width: 354px){
            .logo-content img{
                left: -0px;
            }
            .logo{
                display: none;
            }
        }
        @media screen and (max-width: 379px){
            .logo-content .logo{
                display: none;
            }
        }
        @media (max-width: 1046px){
            .logo-content{
                position: relative;
                left: -40px;
                font-size: 0.8em;
            }
            .logo-main p {
                left: 42px;
            }
        }
        @media (max-width: 396px){
            .logo-content img{
                left: -0px;
            }
            .logo{
                display: none;
            }
            
            .logo-main p{
                display: none;
            }
        }
        @media (max-width: 562px){
            .icons li a {
                display: flex;
                position: relative;
                margin-left: 4px;
                text-decoration: none;
            }
            .icons .bx-bell {
                margin-left: 4px;
                cursor: pointer;
            }
        }
        @media (max-width: 554px){
            .icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 20px;
            }
        }
        @media (max-width: 453px){
            .input-div {
                position: relative;
                left: -21px;
            }
        }
        @media (max-width: 1306px){
            .hino-section-inicio .main .text .h1-p {
                font-size: 30px;
            }
            .hino-content .text {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -8px;
            }
        }
        @media (max-width: 1102px){
            .hino-section-inicio{
                flex-direction: column;
            }
            .hino-section-inicio .main-primeiro{
                flex-direction: column;
                margin-bottom: 100px;
            }
            .hino-section-inicio .main-segundo{
                position: relative;
                top: 50px;
                flex-direction: column;
                margin-top: 100px;
            }
            .subtitulo {
                top: 154px;
                color: #fff;
                position: absolute;
                left: 321px;
            }
            .hino-section-inicio .main-primeiro {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: linear-gradient(to left top,#9C7264,#A6926A);
                width: 43%;
                border-radius: 10px;
                height: 500px;
                box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.363);
                position: relative;
                left: 0px;
                margin: 0 10px 0 10px;
            }
            .hino-section-inicio .main .img-div-hino {
                position: relative;
                top: -44px;
                left: -15px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 180px;
                height: 250px;
            }
            .hino-section-inicio .main .img-div-hino {
                position: relative;
                top: -44px;
                left: -0px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 180px;
                height: 250px;
            }
            .hino-section-inicio .main .text {
                top: 10px;
                position: relative;
                left: 0;
                text-align: center;
            }
            .hino-section-inicio .main .text a {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                color: #333;
                width: 120px;
                height: 45px;
                border-radius: 5px;
                transition: .5s ease;
                position: relative;
                left: 53px;
            }
        }
        @media (max-width: 934px){
            .subtitulo{
                display: none;
            }
        }
        @media (max-width: 1102px){
            .hino-section-inicio .main{
                width: 320px;
            }
        }
        @media (max-width: 488px){
            .hinos-section .categoria-text h1 {
                color: #fff;
                margin-left: 15px;
                font-size: 1em;
            }
        }
        @media (max-width: 1323px){
            .nav{
                display: none;
            }
            .nav-mobile{
                display: flex;
            }
            .nav {
                position: relative;
                top: 150px;
                left: 0;
                padding: 100px 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                animation: navanimatiom 3s ease-in-out forwards;
            }
            .main-reflexao {
                position: relative;
                top: -340px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 400px;
                height: 259px;
                width: 80%;
                background: #fff;
                border-radius: 5px;
                box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.39);
            }
        }
         @media (max-width: 458px){
            .n{
                display: none;
            }
        } 
        @media (max-width: 510px){
            .logo-main p {
                position: absolute;
                font-size: 10px;
                color: #666;
                left: 45px;
                color: #fff;
            }
            .logo{
                position: relative;
                display: flex;
                left: -100px;
                font-size: 18px;
                margin-left: 10px;
            }
            .logo-content{
                position: relative;
                left: -40px;
                font-size: 0.8em;
            }
            .logo-content .logo{
                position: relative;
                left: 2px;
            }
        } 
        @media (max-width: 1020px){
            .nav-mobile{
                top: -240px;
                left: 10px;
            }
            .nav{
                opacity: 0;
                left: 40px;
                width: 10px;
            }
            .nav li a{
                display: none;
            }
        }
        @media (max-width: 550px){
            .nav-mobile {
                top: -234px;
            }
}
@media (max-width: 540px){
    .nav-mobile li a {
        margin-right: 20px;
        color: #fff;
    }
}
@media (max-width: 850px){
    .box{
        left: -10px;
    }
    .seta {
        left: 1275px;
    }
}

@media (max-width: 1260px) {
    .input{
        position: absolute;
        left: 69%;
    }
}
@media (max-width: 910px) {
    .input{
        left: 65%;
    }
}
@media (max-width: 790px) {
    .input{
        left: 63%;
    }
}
@media (max-width: 724px) {
    .input{
        top: 85px;
        left: 50%;
    }
    .banner{
        top: -246px;
    }
    .nav-mobile {
        top: -242px;
        left: 11px;
    }
}
@media (max-width: 1199px) {
    .nav-mobile{
        left: -185px;
    }
}
@media (max-width: 1023px) {
    .nav-mobile{
        top: -272px;
        left: -71px;
    }
}
@media (max-width: 724px) {
    .nav-mobile {
        top: -242px;
        left: 11px;
    }
}
@media (max-width: 1298px){
    .destaques-main{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 858px){
    .destaques-main {
        grid-template-columns: 1fr;
        width: 10px;
        left: -230px;
        transform: translateX(-50%);
    }
 }
 @media (max-width: 406px){
    .destaques-main .box{
        transform: scale(0.9);
    }
 }

 @media (max-width: 364px){
    .destaques-main .box{
        transform: scale(0.8);
    }
 }
 @media (max-width: 750px){
    .footer-main-r{
        height: 250px;
    }
    .footer-main-r .content{
        flex-direction: column;
        position: relative;
    }
    .footer-main-r .content .img-cntent {
        position: relative;
        top: -40px;
    }
    .text {
        left: 44%;
        top: -38px;
        text-align: center;
        max-width: 510px;
    }    
 }

 @media (max-width: 1399px){
    .reflexao-banner {
        position: relative;
        left: 44px;
    }
    .nome-reflexao {
        left: -26%;
    }
    .ultimos-reflexao {
        left: 742px;
    }
    h2#titulo-reflexao {
        font-size: 22px;
    }
}

 @media (max-width: 1199px){
    .reflexao-banner {
        position: relative;
        left: 154px;
        width: 442px;
    }
    h2#titulo-reflexao {
        font-size: 16px;
    }
    .nome-reflexao {
        left: -19%;
        top: 12px;
    }
    p#descrição-reflexao {
        max-width: 469px;
    }
 }

 @media (max-width: 1023px){
    .reflexao-banner {
        left: 263px;
    }
    h2#titulo-reflexao {
        font-size: 16px;
        top: 222px;
        left: -413px;
    }
    .nome-reflexao {
        left: -10%;
        top: 12px;
    }
    p#data-reflexao {
        top: 220px;
        left: -413px;
    }
    p#descrição-reflexao {
        max-width: 267px;
        top: -50px;
    }
    a#btn-reflexao {
        top: 00px;
        left: 10%;
        transform: translate(10%);
    }
}

@media (max-width: 723px){
    .reflexao-banner {
        left: 402px;
        top: -47px;
    }
    h2#titulo-reflexao {
        font-size: 13px;
        top: 197px;
        left: -277px;
    }
    p#data-reflexao {
        top: 192px;
        left: -276px;
    }
    p#descrição-reflexao {
        max-width: 383px;
        top: 130px;
        left: -271px;
        font-size: 19px;
        top: 200px;
    }
    a#btn-reflexao {
        display: none;
    }
}

@media (max-width: 445px){
    p#descrição-reflexao {
        font-size: 14px;
        max-width: 350px;
        left: -254px;
    }
    h2#titulo-reflexao {
        font-size: 13px;
        left: -257px;
    }
    p#data-reflexao {
        left: -256px;
        font-size: 11px;
    }
}
@media (max-width: 1076px){
    .input.active {
        left: 50%;
    }
    .main-videos {
        grid-template-columns: 1fr 1fr;
        width: 704px;
    }
}
@media (max-width: 712px){
.main-videos {
    grid-template-columns: 1fr;
    width: 339px;
}
}
@media (max-width: 320px){
    .text {
        font-size: 86%;
    }
    .footer-main-r .content .img-cntent {
        width: 98%;
    }
}
@media (max-width: 375px){
    .m{
        display: none;
    }
}
@media (max-width: 325px){
    .input{
        width: 90%;
    }
}
@media (max-width: 331px){
    .destaques-main{
        transform: scale(0.8);
    }
    .destaques-main .box {
        left: 17%;
    }
}